<% if @video_ids.any? %>
  <div class="container">
      <% @video_ids.each_with_index do |video_id, index| %>
        <% if video_id %>
            <div class="yt_video thumbnail embed-container" style="<%=index == 0 || index == 1 ? '33%' : 'auto'; %>">
              <%= embed(video_id) %>
            </div>
        <% end %>
      <% end %>
  </div>
<% end %>