<% if @video_urls.any? %>
  <div class="container">
      <% @video_urls.each_with_index do |video_url, index| %>
        <% if video_url %>
            <div class="yt_video thumbnail embed-container" style="height:180px; width: <%=index == 0 || index == 1 ? '33%' : 'auto'; %>">
              <%= content_tag(:iframe, nil, src: video_url, id: 'recommend'+index.to_s, docUrl: @url) %>
            </div>
        <% end %>
      <% end %>
  </div>
<% end %>